@import "~bulma/sass/utilities/initial-variables"
@import "./hex.scss"
@import "./svg.scss"
@import "./base64.scss"

// Config
$tcasey-blue: #0575E6
$tcasey-blue-invert: #fff
$tcasey-green: #3EC7E0
$tcasey-gray: #f2f2f2

$primary: $tcasey-blue
$primary-invert: $tcasey-blue-invert
$secondary: $tcasey-green
$footer-background-color: $tcasey-gray

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.flex-center
  display: flex
  justify-content:  center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.section
  min-height: 80vh

body::-webkit-scrollbar
  width: 8px
body::-webkit-scrollbar, ::-webkit-scrollbar-track
  background: transparent
body::-webkit-scrollbar
  overflow: visible
body::-webkit-scrollbar-thumb
  background-color: $tcasey-blue

.projects-image-container
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.projects-image
  width: 120px

.projects .content h3,
.projects article a p,
    transition: color .3s ease-in-out
    will-change: color

.projects .content:hover
    color: $tcasey-blue-invert
    background-color: $tcasey-blue
    box-shadow: 0 25px 35px rgba(0,0,255,.2)
    transition: background .28s 0s;
    -o-transition: background .28s 0s;
    -moz-transition: background .28s 0s;
    -webkit-transition: background .28s 0s;

.projects .content:hover h3
    color: $tcasey-blue-invert

.project-text
    top: 0
    left: 0
    position: absolute
    display: block
    vertical-align: top
    width: auto
    padding: 2em
    transition: all .3s ease-in-out
    will-change: left,top
    z-index: 1
    float: left
.projects .content:hover .project-text
    top: 25px
    left: 30px
@import "~bulma"
