.h1,
h1 {
  font-size: 48px;
}

.bottom-logo {
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-rectangle {
  height: 500px;
  color: #fff;
  margin-bottom: 0;
  position: relative;
}

.footer-rectangle.active .footer-background {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.5s;
}

.footer-rectangle .contact {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-rectangle .footer-background {
  background-image: linear-gradient(253deg, #f8d602, #edac01);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: 0.5s;
}

footer .row {
  padding-top: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

.footer-rectangle-left h1 {
  font-size: 48px;
}

.footer-rectangle .info {
  padding-left: 70px;
}

.footer-rectangle.active .footer-rectangle-left p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.5s;
}

.footer-rectangle.active .footer-rectangle-left h1 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.65s;
}

.footer-rectangle .info a {
  position: relative;
}

.footer-rectangle a {
  color: #fff;
}

.footer-navbar-nav a:hover {
  border-bottom: 1px solid #0088ff;
}

.footer-rectangle a:hover,
.footer-rectangle a:active,
.footer-rectangle a:focus {
  color: #fff;
  text-decoration: none;
}

.row::before {
  display: table;
  content: " ";
}

@media (max-width: 992px) {
  .container.footer-bottom {
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 800px;
    width: 800px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-bottom .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer-bottom .row {
    display: block !important;
  }
}

.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.footer-navbar-nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}

.footer-bottom .row .copyright {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

@media screen and (max-width: 1200px) {
  footer .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .copyright {
    margin: 110px 0px 30px 0px !important;
  }
}

// @media screen and (min-width: 1082px) {
//   footer .copyright {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

.footer-social-icons {
  display: inline;
}

.social {
  font-size: 18px;
  padding: 0 9px;
}

footer .footer-navbar-nav > li > a,
span.copyright,
h1,
footer a,
footer a:hover,
footer a:focus {
  color: #edac01;
}

.footer-rectangle a:hover,
.footer-rectangle a:active,
.footer-rectangle a:focus {
  color: #fff;
  text-decoration: none;
}

a {
  background-color: transparent;
  padding-bottom: 4px;
}

.footer-rectangle.active .footer-rectangle-right p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.75s;
}

.footer-rectangle .footer-rectangle-left p,
.footer-rectangle .footer-rectangle-left h1,
.footer-rectangle .footer-rectangle-right p,
.footer-rectangle .footer-rectangle-right h1 {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}

.footer-rectangle .info a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #fff;
  transition: 0.4s;
}

.footer-rectangle .info a:hover:after {
  width: 100%;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vertically-centered,
.footer-rectangle .contact {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-nav-wrapper {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

footer .footer-bottom .row .footer-logo-wrapper {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.footer-navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  footer {
    margin: 35px 0 !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  footer .footer-navbar-nav {
    float: none !important;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer-navbar-nav {
    float: none !important;
  }
}

@media screen and (max-width: 768px) {
  .footer-rectangle {
    // height: auto;
    text-align: center;
    // padding: 100px 0;
    // padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer-rectangle .contact h1 {
    margin: 0;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  .footer-social-icons {
    display: block;
    padding-bottom: 58px;
    padding-top: 30px;
  }
}

footer .name-title {
  text-align: center;
  font-size: 32px;
}
