.st0 {
  fill: #f6f6f6;
}
.st1 {
  fill: none;
  stroke: #001fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st2 {
  fill: #ffffff;
  stroke: #001fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
