.imac {
  -webkit-animation: appear 1.5s ease;
  -moz-animation: appear 1.5s ease;
  animation: appear 1.5s ease;
}

.imac-container {
  position: relative;
  height: 640px;
  width: 316px;
  -webkit-animation: imac-rise 1s ease-in-out;
  -moz-animation: imac-rise 1s ease-in-out;
  animation: imac-rise 1s ease-in-out;
}

.imac-body {
  position: relative;
  background: #4a4a4a;
  height: 640px;
  width: 316px;
  border-radius: 30px;
}

.imac-image {
  position: absolute;
  top: 58px;
  left: 8px;
  border-radius: 5px;
  height: 533px;
  width: 300px;
}

.extra {
  position: absolute;
  background: #d7dfe7;
  height: 4px;
  width: 40px;
  border-radius: 4px;
  top: 35px;
  left: 138px;
}

.svg-imac {
  position: absolute;
  -webkit-animation: disappear 1.5s ease forwards;
  -moz-animation: disappear 1.5s ease forwards;
  animation: disappear 1.5s ease forwards;
}

/* --- SVG ANIMATION --- */

.outline-one {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: fill 1.2s linear forwards;
  -moz-animation: fill 1.2s linear forwards;
  animation: fill 1.2s linear forwards;
}

.outline-two {
  stroke-dasharray: 1580;
  stroke-dashoffset: 1580;
  -webkit-animation: fill 1s linear forwards;
  -moz-animation: fill 1s linear forwards;
  animation: fill 1s linear forwards;
}

.outline-line {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  -webkit-animation: fill 0.6s linear forwards;
  -moz-animation: fill 0.6s linear forwards;
  animation: fill 0.6s linear forwards;
}

/* =============
	ANIMATIONS
============== */

@-webkit-keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes disappear {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes imac-rise {
  0% {
    top: 200px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes imac-rise {
  0% {
    top: 200px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

@keyframes imac-rise {
  0% {
    top: 200px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes appear-full {
  0% {
    opacity: 0;
    top: 400px;
  }
  100% {
    opacity: 1;
    top: 200px;
  }
}

@-moz-keyframes appear-full {
  0% {
    opacity: 0;
    top: 400px;
  }
  100% {
    opacity: 1;
    top: 200px;
  }
}

@keyframes appear-full {
  0% {
    opacity: 0;
    top: 400px;
  }
  100% {
    opacity: 1;
    top: 200px;
  }
}
